@nice-blue: #5B83AD;
@light-blue: @nice-blue + #111;

#header { 
  background-color: @light-blue; 
  position: relative;
  width: 80%;
}
.brand {
  float: left;
}

.login {
  float: right;
  display: block;
  padding: 8px 20px 12px;
}

.debtor {
  background: #DDD;
  border-bottom: 1px dashed #333;
  span {
    line-height: 8px;
    border-top: 1px solid #999;
    h4 {
      padding: 0px 0px 0px 25px;
    }
  }
}